.header {
  background-color: #A5A5A5;
  padding: 10px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @media (max-width: 576px) {
      flex-direction: column;
    }
  }
}